body {
    background-image: url(./Develop/Images/pentagon.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}
.hidden.transition {
    display: none;
    visibility: hidden;
  }
